<div class="main-container d-flex">
  <aside>
    <app-sidenav></app-sidenav>
  </aside>
  <div id="map" class="map" style="z-index: index 1;">
      <nav class="navbar navbar-light bg-light" style="position: absolute; z-index: 2; width: 100%; justify-content: center; background-color: #fff;">
        <div style="display: flex; justify-content:center; align-items:center">
          <a class="navbar-brand">
            <marquee behavior="scroll" direction="left">
            <h5>Community 22 Web based GIS Application</h5>
          </marquee></a>
        </div>
      </nav>      
      
  </div>
  <div id="popup"></div>
</div>