<div >
    <div class="">
        <ul class=>
          <li class="">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
            <a >
              <span>Dashboard</span>
            </a>
          </li>
        <li>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <a>
                <span >Home</span>
            </a>
        </li>
     
        <li>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
          <a>
              <span >Search</span>
          </a>
        </li>
      </ul>
    </div>
  </div>